/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap");

:root {
  --color-primery-1: #f3f5f7;
  --color-primery-2: #d0d0d0;
  --color-primery-3: #262626;
  --color-primery-4: #181818;
  --color-primery-5: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans", sans-serif;
  background: var(--color-primery-4);
  color: var(--color-primery-1);
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100dvh;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primery-5);
  width: 100%;
  height: 8rem;
  position: fixed;
}

.header {
  border-bottom: 0.1rem solid var(--color-primery-3);
  top: 0;

  svg {
    height: 3.2rem;

    .path-a {
      fill: var(--color-primery-1);
    }
    .path-d {
      fill: var(--color-primery-1);
    }
  }
}

.footer {
  border-top: 0.1rem solid var(--color-primery-3);
  bottom: 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60rem;
    list-style: none;

    li {
      a {
        &:any-link {
          font-size: 1.8rem;
          font-weight: 400;
          color: var(--color-primery-1);
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin: 10rem 2.4rem;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      #ef4444 0%,
      #eab308 25%,
      #10b981 50%,
      #0ea5e9 75%,
      #8b5cf6 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;

    li {
      a {
        &:any-link {
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          width: 60rem;
          line-height: 150%;
          padding: 1.6rem;
          border-radius: 1.6rem;
          background: var(--color-primery-3);
          color: var(--color-primery-2);
        }
      }
    }
  }
}

@media (max-width: 620px) {
  html {
    font-size: 58%;
  }
  .footer {
    ul {
      width: 90vw;
    }
  }
  .main {
    ul {
      li {
        a {
          &:any-link {
            width: 90vw;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 46%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 42%;
  }
}
