/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap");

:root {
  --color-primery-1: #f3f5f7;
  --color-primery-2: #595959;
  --color-primery-3: #262626;
  --color-primery-4: #181818;
  --color-primery-5: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans", sans-serif;
  background: var(--color-primery-4);
  color: var(--color-primery-1);
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100dvh;
}

.go-to-top {
  display: none;
  position: fixed;
  bottom: 14.8rem;
  right: 2.4rem;

  svg {
    width: 6.2rem;
    background: var(--color-primery-2);
    color: var(--color-primery-4);
    border-radius: 50%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primery-5);
  width: 100%;
  height: 12.8rem;
  border-bottom: 0.3rem solid var(--color-primery-3);
  position: fixed;
  top: 0;

  svg {
    height: 4.8rem;

    .path-a {
      fill: var(--color-primery-1);
    }
    .path-d {
      fill: var(--color-primery-1);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin: 17.6rem 4.8rem;

  h1 {
    font-size: 4.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      #ef4444 0%,
      #eab308 25%,
      #10b981 50%,
      #0ea5e9 75%,
      #8b5cf6 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    list-style: none;

    li {
      a {
        &:any-link {
          display: flex;
          font-size: 2.4rem;
          font-weight: 400;
          min-width: 70rem;
          max-width: 90rem;
          line-height: 150%;
          padding: 2.4rem;
          border-radius: 2rem;
          background: var(--color-primery-3);
          color: var(--color-primery-1);
          box-shadow: 0rem 0.4rem 0.8rem 0rem var(--color-primery-5);
          -webkit-box-shadow: 0rem 0.4rem 0.8rem 0rem var(--color-primery-5);
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-primery-5);
  width: 100%;
  height: 12.8rem;
  gap: 2.4rem;
  border-top: 0.3rem solid var(--color-primery-3);
  position: fixed;
  bottom: 0;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    list-style: none;

    li {
      a {
        &:any-link {
          font-size: 2.4rem;
          font-weight: 400;
          color: var(--color-primery-2);
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 1060px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 44%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 32%;
  }
}

@media (max-width: 390px) {
  .main {
    margin: 17.6rem 2.4rem;
    ul {
      li {
        a {
          &:any-link {
            min-width: 66rem;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .main {
    ul {
      li {
        a {
          &:any-link {
            min-width: 62rem;
          }
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .main {
    ul {
      li {
        a {
          &:any-link {
            min-width: 58rem;
          }
        }
      }
    }
  }
}
